* {
    margin-right: 0;
    padding-top: 0;
    box-sizing: border-box;
}

.profile-container {
    line-height: 1.6;
    min-height: 85vh;
    display: grid;
    place-items: center;
    background: rgb(225, 240, 243);
}
.profile-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    background: #0088a9;
    text-align: center;
    padding: 2rem;
    color: rgb(224, 239, 243);
    border-radius: 3px;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid white;
}
.info {
    display: flex;
    flex-direction: column;
}
.user-name {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}
.user-name::after {
    content: "";
    display: block;
    height: 1px;
    width: 3em;
    background: rgb(78, 150, 168);
    margin: 0.5em auto;
}
.info span {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}
.info span img {
    margin-right: 1rem;
}

@media (min-width: 600px) {
    .profile-card {
        flex-direction: row;
        align-items: center;
    }
    .info {
        text-align: left;
        margin-left: 2em;
    }
    .user-name::after {
        margin-left: 0;
    }
}

/* .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 240, 243);
    height: 100vh;
}
.photo {
    width: 500px;
    position: relative;
    margin-bottom: 0;
}
.photo img {
    width: 400px;
    height: 300px;
}
.name {
    position: absolute;
    top: 80%;
    right: 0;
    left: -30%;
    color: rgb(65, 64, 64);
}
.info {
    margin-top: 0;
    width: 400px;
    padding-top: 1rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(68, 67, 67);
    background-color: #fff;
}

.info span img {
    margin-right: 1rem;
} */
